{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe - La Boutique Française{% endblock %}

{% block content %}
    <h1>Modifier mon mot de passe</h1>
    
    <a href="{{ path('account')}}">Retourner à mon compte</a>
    <hr>
    {% if notification is defined %}
        <div class="alert alert info">{{ notification }}</div>
    {% endif %}
    {{ form(form)}}
    <hr>

{% endblock %}

{% block footer %}
    <footer class="footer-login-inscription">
                <p>
                    &copy; 2020-2022 La Boutique Française</br>
                    <small>La boutique 100% made in France</br> 
                        <a href="#">Privacy</a> &middot; <a href="#">Terms</a></small>
                </p>
            </footer>
{% endblock %}