{% extends 'base.html.twig' %}

{% block title %}Nous contacter - La Boutique Française{% endblock %}

{% block content %}

    <h2>Nous contacter</h2>
    <p>N'hésitez pas a prendre contact avec notre équipe, nous vous répondrons dans les ples meilleurs délais</p>
    <div class="row">
        <div class="col-md-8">{{ form(form) }}</div>
        <div class="col-md-4">
            <strong>La Boutique Française</strong>
            <hr>
            0753716454 <br/>
            07 rue des prunais, 94350 Villier-sur-marne <br/>
            anouarcherfa@outlook.fr

        </div>
    </div>
{% endblock %}
